@mixin arial {
	font-family: Arial, Helvetica, sans-serif;
}

.arial {
	@include arial;
}

@mixin crimson {
	font-family: 'Crimson Text', TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-weight: 400;
	font-style: normal;
}

.crimson {
	@include crimson;
}

@mixin crimson-bold {
	font-family: 'Crimson Text', TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-weight: 700;
	font-style: normal;
}


.crimson-bold {
	@include crimson-bold;
}

@mixin crimson-italic {
	font-family: 'Crimson Text', TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-weight: 400;
	font-style: italic;
}


.crimson-italic {
	@include crimson-italic;
}

@mixin didot {
	font-family: Didot, 'Didot LT STD', 'Didot W01 Roman', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-weight: normal;
	font-style: normal;
}


.didot {
	@include didot;
}


@mixin yanone-kaffeesatz-bold {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
	font-style: normal;
}


.yanone-kaffeesatz-bold {
	@include yanone-kaffeesatz-bold;
}


@mixin open-sans {
	font-family: 'Open Sans', sans-serif;;
	font-weight: normal;
	font-style: normal;
}


.open-sans {
	@include open-sans;
}


