html {
	height: 100%;
	font-size: 62.5%;
	@include device-width(10){
		font-size: 60%;
	}
}

body {
	height: 100%;
	background: #FFF;
	color: #333333;
	@include crimson;
	@include font-size(15);
	overflow-x: hidden;
}

#wrap {
	height: 100%;
}

#header {
	padding: 0;
	position: relative;
	z-index: 1000;
	

	> .inner {
		padding: 1.5em 0 0 0;
		position: relative;

		// @media only screen and (max-width: (860px)){
		//  	width: auto;
		// 	padding-left: 0;
		// 	padding-right: 0;
		// 	margin-left: 5%;
		// 	margin-right: 5%;
		// }
	}

	.logo-container {
		$ratio: (109 / 442);
		height: $ratio * 442px;
		width: 442px;
		margin-top: 0;
		margin-bottom: 0;
		@include transition(all 0.3s ease);
		z-index: 0;

		@include device-width(12){
			height: $ratio * 400px;
			width: 400px;
		}
		
		@include device-width(10){
			height: $ratio * 350px;
			width: 350px;
		}

		@include device-width(8){
			height: $ratio * 300px;
			width: 300px;
		}
	}

	.logo {
		z-index: 100;
		@include transition(all 0.3s ease);
		background: url(../images/logos/gbteddybear_header.jpg) no-repeat;
		background-size: contain;
		width: 100%;
		height: 100%;
		text-indent: -9999px;
		display: inline-block;
	}

	.ecommerce-options {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 400;

		li {
			float: left;
			margin: 0 0 0 1em;

			&.currency {
				@include device-width(7){
					display: none;
				}
			}

			&.account {
				@include device-width(6){
					display: none;
				}
			}

			a {
					
				@include device-width(6){
					border: none;
					text-transform: uppercase;
					@include box-shadow(none);
					padding: 1em 2em;
					background: none;
				}
			}
		}
		@include device-width(6){
			top: auto;
			bottom: 0;
		}
	}
	
	.mobile-navigation-btn {
		display: none;
		padding: 1em 2em;
		border-right: 1px solid #cecece;
		@include device-width(6){
			display: block;
		}
	}

	.navigation-container {
		position: relative;
		margin: 1.5em 0 0 0;
		border-top: 1px solid #cecece;
		border-bottom: 1px solid #cecece;
	
	}

	.main-navigation { 
		padding: 0;
		margin: 0;

 		@include device-width(6){
 			display: none;
 			border-right: none;
 		}
		> ul {
			margin: 0;
			padding: 0;

			> li {
			 	padding: 0 2.4em;
			 	float: left;
				position: relative;
				@include transition(all 0.3s ease);

			 	@include device-width(14){
			 		padding-left: 1.5em;
			 		padding-right: 1.5em;
			 	}

			 	@include device-width(10){
			 		padding-left: 1em;
			 		padding-right: 1em;
			 	}

			 	@include device-width(9){
			 		padding-left: 0.8em;
			 		padding-right: 0.8em;
			 	}

			 	@include device-width(8){
			 		
			 		&:first-child {
			 			padding-left: 0;
			 		}

			 		&:last-child {
			 			padding-right: 0;
			 		}
			 	}

			 	@include device-width(7){
			 		padding-left: 0.6em;
			 		padding-right: 0.6em;
			 	}

			 	@include device-width(6){
			 		float: none;
			 	}

			 	> a {
			 		display: inline-block;
					padding: 12px 0;
					text-transform: uppercase;
			 		@include font-size(13);
			 		@include crimson;
			 		border-bottom: 2px solid #FFF;
				 	position: relative;
				 	color: #333333;

				 	@include device-width(9){
				 		@include font-size(11);
				 	}

				 	@include device-width(7){
				 		@include font-size(10);
				 	}
			 	}

			 	> a:hover,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #890a0a;
			 		border-bottom: 2px solid #890a0a;
			 	}
			}
		} 
	}

	.info {
		position: absolute;
		bottom: 3em;
		right: 0;

		@include device-width(6){
			bottom: auto;
			top: 0;
		}
	}
}
		
			
#main {
	padding: 4em 0 0 0;
}
		
#sidebar {}
	
#footer {
	padding: 430px 0 0 0;
	color: #FFF;

	> .top {
		background: #1e0a05;
		border-top: 6px solid #0366c2;
		padding: 2em 0;  
	}

	> .bottom {
		background: #000;
	}

	a {
		&:hover {
			text-decoration: underline;
		}
	}
	
	.main-navigation {
		margin: 0 0 10px 0;
		padding: 0 40% 0 0;
		
		@include device-width(7){
			padding-right: 0;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0 0 5px 0;
			}
			> li {
				@include crimson;
				float: left;
				padding-right: 1em;
				margin-right: 1em;
			 	position: relative;
			 	&:after {
			 		content: '\002F';
			 		position: absolute;
			 		top: 0;
			 		right: -2px;
			 	}

			 	&:last-child {
			 		&:after {
			 			content: '';
			 		}
			 	}

				> a {
					color: #FFF;
					display: inline-block;
					padding: 0;
					text-transform: uppercase;
			 		@include font-size(16);
				}

				&.small a {
					@include font-size(14);
				}
			}
		}
	}

	.newsletter {
		width: 100%;
		position: absolute;
		top: -120px;
		@include box-sizing(border-box);
		background: #006cce url(../images/misc/newsletter.png) no-repeat 10px center;
		border: 1px solid #0b3257;
		border-top: 5px solid #aed400;
		padding: 10px 10px 10px 70px;

		.gform_wrapper {
			margin: 0;
			max-width: 100%;
			form {
				position: relative;
				padding: 0 0 0 13em;

				@include device-width(7) {
					padding-left: 0;
				}
			}

			.validation_error {
			   color: #A40000;
			   font-style: italic;
			   margin-bottom: 5px;
			}
		}
		
		.gform_heading {
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
			z-index: 0;
			width: auto;
			.gform_title {
				color: #FFF;
				@include font-size(20);
				text-align: left;
				margin: 0;
				line-height: 30px;
				text-transform: uppercase;
				line-height: 1;
			}

			.gform_description {
				line-height: 1.5;
				vertical-align: top;
				@include font-size(14);
				@include crimson;
			}

			@include device-width(7) {
				display: none;
			}
		}

		.gform_body {
			margin: 0;
			position: relative;
			z-index: 100;
			ul {
				padding: 0;
				margin: 0;

				li {
					padding: none;
					margin: none;
					list-style-type: none;
					margin: 0;

					.gfield_label {
						display: none;
					}

					.ginput_container {
						input { 
							padding-right: 88px;
							background: #0b3257;
							margin: 0;
							border: none;
							color: #FFF;
							border-bottom: 1px solid #FFF;
						}
					}

					.validation_message {
						position: absolute;
					} 
				}
			}
		}

		.gform_footer {
			z-index: 200;
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 0;
			margin: 0;
		}
	}
}


#ajax-page {
	position: relative;
	.loader {
		display: block;
		padding: 10px 0;
		width: 32px;
		height: 32px;
		background: url(../images/icons/loader.gif) no-repeat center center;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -16px - 10px;
		margin-left: -16px;
	}
}
#breadcrumbs {
	background: #000;
	background: rgba(#000, 0.8);
	padding: 10px 0;
	text-transform: uppercase;
	color: #FFF;
	position: relative;
	z-index: 100;
	a {
		color: #FFF;
	}

	@include device-width(6){
		font-size: 11px;
	}
}
/* =============================================================================
   Pages
   ========================================================================== */


#front-page {

	#homepage-scroller {
		height: 414px;
		z-index: 100;
		
		@include device-width(14){
			height: 393px;
		}

		@include device-width(13){
			height: 360px;
		}

		@include device-width(12){
			height: 338px;
		}

		@include device-width(11){
			height: 300px;
		}
		
		@include device-width(8){
			height: 230px;
		}
		
		@include device-width(7){
			height: 196px;
		}
		
		@include device-width(6){
			height: 172px;
		}

		// @include device-width(7){
		// 	height: 34em;
		// }

		// @include device-width(5){
		// 	height: 30em;
		// }

		.scroller-mask {
			height: 100%;
		}
	
		.scroll-item {
			height: 100%;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.scroller-navigation {
			.prev-btn {
				@include device-width(7){
					left: 0;
				}
			}

			.next-btn {
				@include device-width(7){
					right: 0;
				}
			}
		}
	}

	#content {
		margin: 4em 0;
		position: relative;
		z-index: 200;

		.boxes {
			margin: 0 -10px;

			.box {
				margin: 0 0 3em 0;
				position: relative;
				@include device-width(7){
					width: 50%;
				}

				@include device-width(3){
					width: 100%;
				}

				> a {
					display: block;
					cursor: pointer;
					
					&:hover {
						.box-meta {
							color: #000;
							background: #FFF;
						}
					}
				}
				.box-meta {
					border-bottom: 4px solid #00a3e0;
					@include transition(all 0.3s ease);
					color: #FFF;
					padding: 1em 1em 1.5em 1em;
					background: #000; 
					height: 4.6em;
					overflow: hidden;

					@include device-width(9){
						padding-right: 0.5em;
					}
				}

				.content {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 500;
					width: 100%;
					padding: 0 10px;
					@include box-sizing(border-box);
					
					> .inner {
						padding: 3em;

						@include device-width(10){
							padding: 2em;
						}

						@include device-width(9){
							padding: 1em;
						}
					}

					.social-links {
						list-style: none;
						padding-left: 0;
						margin: 0;
						li {
							@include border-radius(4px);
							border: 1px solid #666;
							background: #f1f1f1;
							padding: 1em;
							margin-bottom: 1em;

						}
					}
				}
			}
		}
	}
}


#index {
	
}

#single {
	
}

#category {

}


#search {

}

#error {}

#page {}