$device_widths: (100px, 200px, 300px, 400px, 500px, 600px, 700px, 800px, 900px, 1000px, 1100px, 1200px, 1300px, 1400px);

@mixin device-width($i){
	@media only screen and (max-width: (nth($device_widths, $i))){
		@content;
	}
}

@mixin device-height($i){
	@media only screen and (max-height: (nth($device_widths, $i))){
		@content;
	}
}

@mixin font-size($size){
	font-size: ($size) + px;
	font-size: ($size / 10) + rem;
}

@import '//fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic|Yanone+Kaffeesatz:700|Open+Sans:400';
@import '//fast.fonts.com/cssapi/0132a0ff-e516-41fe-8f2c-f4f99dc031d0.css';
@import 'compass/css3';
@import 'normalize';
@import 'fonts';
@import 'icons';
@import 'classes';
@import 'layout';